.navegador nav ul .submenu li {
    margin: 0;
}

.navegador nav ul .submenu li a {
    color: white;
    padding: 5px 10px;
    display: block;
    text-decoration: none;
}

.navegador nav ul .submenu li a:hover {
    background-color: #555;
}

.navegador nav ul li:hover .submenu {
    display: block;
}

table {
    width: 100%;
    margin-top: auto;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

th, td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
    font-size: 14px;
}

th {
    background-color: #4CAF50;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

.btn-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin: 50px 0 20px; /* Agrega un margen superior de 50px */
    gap: 10px;
}

.btn-container a {
    text-decoration: none;
}

.btn-container button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    animation-duration: 1s;
}

.btn-container button:hover {
    background-color: #45a049;
}
